body {
    background-color: rgb(134, 224, 247);
    margin: 1;
    font-family: 'Lucida Sans';
}

p {
    color: black;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
    color: rgb(255, 196, 2);
    font-size: 3em;
}

h2 {
    margin-left: 0.6em;
    color: purple;
    font-size: 1.5em;
}

h3 {
    margin-top: 0.9em;
    font-family: 'Franklin Gothic Medium';
    font-size: x-large;
}

img {
    margin-bottom: 0.6em;
}
